#error404{
	&___btnHome{
		p{
			border-radius: 100%;
			border: solid 1px $border;
			font-size: 360%
			height: 100px; 
			margin: 0 auto;
			width: 100px;
		}
	}//::END->___btnHome
	&__img{
		width:75%;
	}//::END->__img
}//::END->error404


