#gridLan{
	position: relative;
	height: 700px;
	width: 100%;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 5px;
	
	&__card{
		display: grid;
		grid-template-rows: 15% 65% 20%;
		.card-body{
			h1{
				@media ({$mddesc}) {
					font-size: 200%;
				}
				@media ({$xs}) {
					font-size: 150%
				}
			}//::END->h1
			h4{
				@media ({$xs}) {
					font-size: 120%
				}
				@media ({$ms}) {
					font-size: 100%
				}
			}//::END->h4
			.btn-group{
				.btn{
					i{
						@media ({$lgdesc}) {
							font-size: 150%;
							padding-left:10px;
							padding-right:10px;
						}
						@media ({$mddesc}) {
								padding: 0
						}
						@media ({$mddesc}) {
							padding-left:10px;
							padding-right:10px;
						}
					}//::END->i
					span{
						@media ({$lgdesc}) {
							display: none
						}	
					}//::END->span
					@media ({$mddesc}) {
						width 40%;
						padding-right:5%
						padding-left:5%
					}
				}//END->btn
				@media ({$mddesc}) {
				 	position: absolute;
				    bottom: 5%;
				    left: 2%;
				    width: 46%;
				}

			}//END->btn-group 
		}//END->card-body
		@media ({$mddesc}) {
			grid-template-rows: 15% 57% 28%;
		}
		@media ({$mddesc}) {
			grid-template-rows: auto 70% auto;	
		}
		@media ({$mddesc}) {
			grid-column 2
			grid-template-rows: auto 90% auto;	
			grid-template-columns: auto 90% auto;	
		}
		@media ({$smdesc}) {
			grid-template-columns: auto 97% auto
		}
		@media ({$xs}) {
	 		grid-template-columns: auto 100% auto
		}	
	}//::END-> __card
	
	&__carrusel{
		display: grid;
		grid-template-rows: 10% 50% 20% 20%;
		#carouselExampleIndicators{
			grid-row:2
			@media ({$lgdesc}) {
				width:95%;
			}
			@media ({$mddesc}) {
				grid-row 1
			}
			@media ({$xs}) {
				width:100%;
			}
		}
		.article{
			text-align: left;
			width 93%;
			margin-top:2%
			grid-row:3
			@media ({$mddesc}) {
				display: none;
			}
		}
		@media ({$lgdesc}) {
			grid-template-rows: 10% 45% 25% 20%;
		}
		@media ({$mddesc}) {
			grid-row: 2;
			grid-column: 2;
			grid-template-rows:60% 40%;
		}	
		@media ({$xs}) {
			grid-template-rows:55% 45%;
		}
	}//::END-> __card
	
	&__botonera{
		grid-row: 4;
		text-align: center;
		display: grid;
		grid-template-columns: 15% 70% 15%;
		grid-template-rows: 15% 50% 35%;
		.btnLan{
			grid-row: 2;
			grid-column: 2;
			.btn{
				margin: 10px;
			}//::END->.btn
			@media ({$mddesc}) {
				grid-row: 2;
				z-index: 1;
			}
		}//::END->.btnLan
		@media ({$lgdesc}) {
			grid-template-rows: 5% 55% 40%;
		}
		@media ({$mddesc}) {
			grid-template-columns: auto auto auto;
			grid-template-rows: 20% 80%;
			grid-row: 2;
		}
		@media ({$xs}) {
			grid-template-columns: 0 auto 0
			grid-template-rows: 0% auto;
		}
		
	}//::END->__botonera
	
	.card{
		grid-row: 2;
		box-shadow:$box-shadow;
		@media ({$mddesc}) {
			display: grid;
			grid-template-columns: 50% auto
			grid-row 2
			grid-column 2
			height: 100%;
		} 
		.card-img-top{
			@media ({$mddesc}) {
				margin: 5% auto;
    			width: 90%;
			}
		}
	}//::END-> card
	
	.carousel{
		grid-row: 2;
		margin:0 auto;
		width: 90%;
	}//::END->carousel 
	@media ({$mddesc}) {
		height: 600px;
		grid-template-columns: auto 95% auto;
		grid-template-rows: 40% 60%;
	}
	@media ({$mss}) {
		grid-template-columns: auto 100% auto
	}
}//END->gridLan